<header class="header-container">

  <!--<div class="top-bar">
    <div class="mobile-auth">
    <button>Login</button>
    <button>Registro</button>
    </div>
  </div> -->

  <nav class="navbar">
    <div class="left-section">
      <div class="logo-circle-container">
        <div class="circle-background"></div>
        <img class="logo" src="iconologo.png" alt="Logo">
      </div>

      <!-- Botones ocultos en mobile -->
      <div class="nav-links">
        <button class="nav-button" routerLink="/">Inicio</button>
        <button class="nav-button" routerLink="/contacto">Contacto</button>
        <button class="nav-button" routerLink="/nosotros">Nosotros</button>
       

      </div>
      
      <button class="nav-button nav-turno">Sacar Turno</button>

      

      <!-- Menú hamburguesa -->
      <button class="hamburger" (click)="toggleMenu()">
        ☰
      </button>
    </div>

    <div class="right-section login">
   
   <!-- Botón en el header -->
<button class="btn" (click)="abrirModal()">
  <i class="fas fa-user"></i> Mi Cuenta
</button>

    </div>

    
  </nav>
<!-- Modal -->

<div class="modal-overlay" *ngIf="modalAbierto">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>

    <!-- Selector de formulario -->
    <div class="selector-formulario">
      <button (click)="mostrarFormulario('login')" [class.activo]="formularioActual === 'login'">Iniciar Sesión</button>
      <button (click)="mostrarFormulario('registro')" [class.activo]="formularioActual === 'registro'">Registrarse</button>
    </div>

    <!-- Contenedor de formularios -->
    <div class="formularios">
      <div class="login-column" *ngIf="formularioActual === 'login'">
        <h3>Iniciar Sesión</h3>
<div class="form-row">
  <div class="form-group">
        <label class="etiquetaForm">Email:</label>
        <input type="email" placeholder="Email">
  </div>
  <div class="form-group">      
        <label class="etiquetaForm">Contraseña:</label>
        <input type="password" placeholder="Contraseña">
</div>
</div>
        <div class="modal-bton1"><button class="modal-btn ">Ingresar</button> </div>
      </div>

      <div class="register-column" *ngIf="formularioActual === 'registro'">
<h3>Registrarse</h3>

<!-- Fila 1: Nombre / Apellido -->
<div class="form-row">
  <div class="form-group">
    <label class="etiquetaForm">Nombre:</label>
    <input type="text" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label class="etiquetaForm">Apellido:</label>
    <input type="text" placeholder="Apellido">
  </div>
</div>

<!-- Fila 2: DNI / Email -->
<div class="form-row">
  <div class="form-group">
    <label class="etiquetaForm">DNI:</label>
    <input type="text" placeholder="DNI">
  </div>
  <div class="form-group">
    <label class="etiquetaForm">Email:</label>
    <input type="email" placeholder="Email">
  </div>
</div>

<!-- Fila 3: Contraseña / Repetir Contraseña -->
<div class="form-row">
  <div class="form-group">
    <label class="etiquetaForm">Contraseña:</label>
    <input type="password" placeholder="Contraseña">
  </div>
  <div class="form-group">
    <label class="etiquetaForm">Repetir Contraseña:</label>
    <input type="password" placeholder="Repetir Contraseña">
  </div>
</div>

<!-- Botón -->

 <div class="modal-bton1"> <button class="modal-btn">Crear cuenta</button> </div>
</div>



    


    </div>
  </div>
</div>

</header>
