<header class="header-container">

  <!--<div class="top-bar">
    <div class="mobile-auth">
    <button>Login</button>
    <button>Registro</button>
    </div>
  </div> -->

  <nav class="navbar">
    <div class="left-section">
      <div class="logo-circle-container">
        <div class="circle-background"></div>
        <img class="logo" src="iconologo.png" alt="Logo">
      </div>

      <!-- Botones ocultos en mobile -->
      <div class="nav-links">
        <button class="nav-button" routerLink="/">Inicio</button>
        <button class="nav-button" routerLink="/contacto">Contacto</button>
        <button class="nav-button" routerLink="/nosotros">Nosotros</button>


      </div>

      <button class="nav-button nav-turno" (click)="abrirModalTurno()">Sacar Turno</button>




      <!-- Menú hamburguesa -->
      <button class="hamburger" (click)="toggleMenu()">
        ☰
      </button>
    </div>

    <div class="right-section login">

      <!-- Botón en el header -->
      <button class="btn" (click)="abrirModal()">
        Mi Cuenta
      </button>

    </div>


  </nav>

  <!-- MENÚ HAMBURGUESA para móviles -->
  <div class="mobile-menu" [class.open]="menuOpen">
    <button class="nav-button" routerLink="/" (click)="toggleMenu()">Inicio</button>
    <button class="nav-button" routerLink="/contacto" (click)="toggleMenu()">Contacto</button>
    <button class="nav-button" routerLink="/nosotros" (click)="toggleMenu()">Nosotros</button>
    <button class="btn" (click)="abrirModalDesdeMenu()">Mi Cuenta</button>
  </div>


  <!-- Modal -->

  <div class="modal-overlay" *ngIf="modalAbierto">
    <div class="modal-content">
      <span class="close" (click)="cerrarModal()">&times;</span>

      <!-- Selector de formulario -->
      <div class="selector-formulario">
        <button (click)="mostrarFormulario('login')" [class.activo]="formularioActual === 'login'">
          Iniciar Sesión
        </button>
        <button (click)="mostrarFormulario('registro')"
          [class.activo]="formularioActual === 'registro'">Registrarse</button>
      </div>

      <!-- Contenedor de formularios -->
      <div class="formularios">
        <div class="login-column" *ngIf="formularioActual === 'login'">
          <!--utilizo el componente "login.component" que va tener el formulario , se importa el componente en header.component para que funcione   -->
          <app-login [closeModal]="cerrarModal"></app-login>
        </div>

        <div class="register-column" *ngIf="formularioActual === 'registro'">
          <h3>Registrarse</h3>

          <!-- Fila 1: Nombre / Apellido -->
          <div class="form-row">
            <div class="form-group">
              <label class="etiquetaForm">Nombre:</label>
              <input type="text" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label class="etiquetaForm">Apellido:</label>
              <input type="text" placeholder="Apellido">
            </div>
          </div>

          <!-- Fila 2: DNI / Email -->
          <div class="form-row">
            <div class="form-group">
              <label class="etiquetaForm">DNI:</label>
              <input type="text" placeholder="DNI">
            </div>
            <div class="form-group">
              <label class="etiquetaForm">Email:</label>
              <input type="email" placeholder="Email">
            </div>
          </div>

          <!-- Fila 3: Contraseña / Repetir Contraseña -->
          <div class="form-row">
            <div class="form-group">
              <label class="etiquetaForm">Contraseña:</label>
              <input type="password" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <label class="etiquetaForm">Repetir Contraseña:</label>
              <input type="password" placeholder="Repetir Contraseña">
            </div>
          </div>

          <!-- Botón -->

          <div class="modal-bton1"> <button class="modal-btn">Crear cuenta</button> </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal de Sacar Turno -->
  <div class="modal-overlay" *ngIf="modalTurnoAbierto">
    <div class="modal-turno">
      <span class="close" (click)="cerrarModalTurno()">&times;</span>
      <div class="contenido-turno">
        Próximamente
      </div>
      <!--Este button esta de ejemplo para que vean si trae todos los usuarios si estan longueado correctamente por consola -->
      <button type="button" style="position: absolute; margin-top: 80px" (click)="handleClickAllUsers()">
        ver usuarios por consola
      </button>
    </div>
  </div>


</header>