<section class="contacto-container">
  <h2>PETSHOP Y PELUQUERÍA CANINA</h2>
  <p><strong>Dirección:</strong> Ciudad de la Paz 724 - C.A.B.A - Bs. As.</p>
  <p><strong>Horario de Atención:</strong> Lunes a Viernes de 9 a 19 hs y Sábados de 9 a 15 hs.</p>
  <p><strong>WhatsApp:</strong> 011 5588-4569</p>
  <p><strong>Teléfono:</strong> 011 4555-4456</p>

  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.034341657572!2d-58.376355384759224!3d-34.60368478045974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb2f2a7d4eb7b%3A0x3c7dbaecda81e2bb!2sCiudad%20de%20la%20Paz%20724%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1685238408000!5m2!1ses!2sar"
      width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>
